<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filenest | Login</title>
</head>
<body>
    <h1>Filenest | Login</h1>
    <form method="post">
    {%csrf_token%}
    <div>
        <label for="username">Username</label>
        <input type="text" required id="username" name="username" placeholder="Enter your username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" required id="password" name="password" >
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    </form>
    <a href="{% url 'register' %}">New user?  Register here</a>
</body>
</html>