<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filenest | Register</title>
</head>
<body>
    <h1>Filenest | Register</h1>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <form method="post">
    {% csrf_token %}
    <div>
        <label for="first_name">First name</label>
        <input type="text" required name="first_name">
    </div>
    <div>
        <label for="username">Username</label>
        <input type="text" required id="username" name="username" placeholder="Enter your username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" required id="password" name="password" >
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    <a href="{% url 'login' %}">Already have an account? login</a>
</form>
</body>
</html>